
  <div class="row bgheader">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">More Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 nav-link disabled">
            <input class="form-control mr-sm-2 radi" type="search" placeholder="+91 994455667788" aria-label="+91 994455667788">
          </form>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 radi" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
    </div>
